/* width:1440 px small-pc*/

@media (max-width: 90em) {
  .feature-company-box {
    max-width: 120rem;
    margin: 0 auto;
  }
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.2rem;
    justify-content: center;
  }
}
/* width:1240 px tablet landscape */
@media (max-width: 77.5em) {
  .navigation {
    padding: 2rem 3.2rem;
  }
  .navigation-list {
    font-size: 1.4rem;
  }
  .section-hero {
    padding: 4.8rem;
  }
  .hero {
    max-width: 120rem;
  }
  .feature-company-box {
    max-width: 100rem;
    margin: 0 auto;
  }
  .featured-company-img-box img {
    height: 2.4rem;
  }
}

/* width:1040 px small tablet landscape */

@media (max-width: 65.125em) {
  html {
    font-size: 56.25%;
  }

  .navigation-list-box {
    gap: 1rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }
  .hero-text-box {
    text-align: center;
    font-size: 1.8rem;
  }
  .btn a:link,
  .btn-second a:link {
    font-size: 2.4rem;
  }

  .hero-heading {
    font-size: 4.8rem;
  }
  .hero-img {
    order: -1;
    width: 75%;
    justify-self: center;
  }
  .customers {
    justify-content: center;
  }

  .featured-company-img-box {
    gap: 4.8rem;
    justify-content: center;
  }

  .grid-2cols {
    column-gap: 2.4rem;
    row-gap: 4.8rem;
  }

  .testimonial {
    grid-template-columns: 1fr !important;
    row-gap: 4.8rem !important;
  }

  .customer-box {
    margin-bottom: unset;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
    justify-content: center;
  }

  .feature-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 3.2rem;
  }
  .footer-nav-box {
    order: -1;
    grid-column: span 6;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-content: center;
  }

  .footer-nav {
    justify-self: center;
  }
  .company-address,
  .company-social {
    grid-column: span 3;
    justify-self: center;
  }
}

/* width:800 px small tablet landscape */
@media (max-width: 50em) {
  html {
    font-size: 50%;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .grid-3cols {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 4.8rem;
  }

  /* mobile nav */

  /* nav-mobile off */

  .mobile-nav,
  .mobile-nav-icon[name="menu-outline"] {
    display: block;
  }
  .navigation-box {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.884);

    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .hero {
    transition: all 0.5s;
  }
  .blur .hero {
    filter: blur(7px);
  }
  /* .navigation-box::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.651);
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    z-index: -1;
  } */
  .navigation-list-box a:link,
  .navigation-list-box a:visited {
    font-size: 3.2rem;
    background: none;
  }
  .navigation-list-box {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }
  /* nav-mobile on */
  .nav-mobile .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .nav-mobile .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav-mobile .navigation-box {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0);
  }

  /* hero */

  .hero-img {
    width: 70%;
  }

  /* feature-company */
  .featured-company-img-box img {
    height: 2rem;
  }
  .featured-company-img-box {
    gap: 2rem;
  }

  /* how */
  .step-box {
    grid-template-columns: 1fr;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(3) {
    grid-row: 3;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    width: 50%;
    justify-self: center;
    transform: translateY(7rem);
  }
  .diet-heading {
    margin-bottom: 2.4rem;
  }
  /* price */
  .price {
    width: 100%;
  }
  /* meals */
  .diet {
    grid-column: span 2;
    justify-self: center;
  }

  /* testimonial */

  /* form */
  .form {
    padding: 2.4rem;
  }
  .form-box {
    grid-template-columns: 1fr 1fr !important;
  }
  .form-form {
    grid-template-columns: 1fr;
  }
  .form-box select {
    margin-bottom: 3.2rem;
  }
  .form-img-box {
    background-position: center;
  }
}

/* width:565 phone */
@media (max-width: 36em) {
  .grid-2cols {
    grid-template-columns: 1fr;
  }
  .grid-3cols {
    grid-template-columns: 1fr !important;
    column-gap: 0;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }

  .featured-company-img-box img {
    height: 1.6rem;
  }

  .featured-company-img-box {
    gap: 1.2rem;
  }
  .hero-text {
    font-size: 1.8rem;
  }
  /* how */

  .step-subheading {
    font-size: 6.4rem;
  }
  .step-img-box {
    width: 70%;
  }
  /* meal */
  .meal-box {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .meal1 {
    grid-row: 1;
  }
  .meal2 {
    grid-row: 2;
  }
  .meal1,
  .meal2 {
    width: 75%;
    margin: 0 auto;
  }

  /* testimonial */
  .testimonial {
    row-gap: 0 !important;
    padding: 4.8rem 2.4rem;
  }
  .testimonial-text {
    row-gap: 2rem;
    margin-bottom: 4.8rem;
  }
  .customer-box img {
    width: 10rem;
  }
  .tes-customer-text {
    font-size: 1.8rem;
  }
  /* price */
  .price {
    width: 70%;
    justify-self: center;
  }
  .feature-box {
    grid-template-columns: 1fr !important;
    padding: 2.4rem;
  }

  /* form */

  .form-box {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto 1fr;
    row-gap: 0;
  }
  .form {
    gap: 0;
  }
  .form-img-box {
    order: -1;
    height: 35rem;
    background-position: 0 -80px;
  }
  /* footer */
  .footer-nav-box {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .footer {
    padding: 4.8rem 2.4rem !important;
  }
  .footer-nav {
    justify-self: center;
  }
}

@media (max-width: 25em) {
  .logo {
    width: 15rem;
  }
  .section-hero {
    padding: 3.2rem 2.4rem;
  }
  .hero-heading {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
  }
  .hero-text {
    margin-bottom: 4.8rem;
  }
  .hero-img {
    width: 80%;
  }

  .container {
    padding: 0 2.4rem;
  }
  .featured-company-img-box img {
    height: 1.1rem;
  }
  .step-img-box {
    width: 80%;
    transform: translateY(5rem);
  }
  .navigation {
    padding: 1.2rem;
  }
  .section-step {
    padding: 4.8rem 0;
  }
  .section-meal {
    padding: 4.8rem 0;
  }
  .testimonial {
    padding: 4.8rem 2.4rem;
  }

  .customer-box img {
    width: 8rem;
  }

  .section-form {
    padding: 4.8rem 0 9.6rem;
  }
  /* footer */
  .footer {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, auto);
    gap: 0;
  }
  .footer-nav-box {
    margin-bottom: 2.4rem;
    justify-content: start;
  }
  .footer-nav {
    justify-self: start;
  }
  .company-social {
    grid-row: 3;
    justify-self: start;
  }
  .company-address {
    margin-bottom: 2.4rem;
    justify-self: start;
  }
} ;
