/*--------- header-navigation */
.navigation {
  background-color: #fae5d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem;
}
.logo {
  width: 20rem;
}
.navigation-list-box {
  display: flex;
  gap: 1.8rem;
  list-style: none;
  margin-right: 2.4rem;
}
.navigation-list-box a:link,
.navigation-list-box a:visited {
  text-decoration: none;
  color: #5c320e;
  font-size: 1.8rem;
  background-color: #fae5d3;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}
.navigation-list-box a:hover,
.navigation-list-box a:active {
  background-color: #e67e22;
  color: #fdf2e9;
}

/*--------- section-hero */
.section-hero {
  padding: 9.6rem;
  background-color: #fae5d3;
}

.hero {
  max-width: 160rem;
  margin: 0 auto;
  /* padding: 4.8rem 0; */
  align-items: center;
}
.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 6.2rem;
  margin-bottom: 6.4rem;
  color: #2e1907;
  letter-spacing: -1.35px;
  line-height: 1;
  /* margin-top: rem; */
}

.hero-text {
  font-size: 2.4rem;
  margin-bottom: 9.6rem;
  line-height: 1.5;
}

.btn {
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 9px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #e67e22;
  margin-right: 2.4rem;
  transition: all 0.3s;
  margin-bottom: 4.8rem;
}
.btn-second {
  border-radius: 9px;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  background-color: #fdf2e9;

  border: none;
  transition: all 0.3s;
}
.btn-second a:link,
.btn-second a:visited {
  text-decoration: none;
  color: #e67e22;
  font-weight: 600;
  transition: all 0.3s;
  font-size: 1.8rem;
}
.btn-second:hover,
.btn-second:active {
  box-shadow: inset 0 0 0 3px #fdf2e9;
  background-color: #fae5d3;
}
.btn-second:hover a,
.btn-second:active a {
  /* color: #fdf2e9; */
}

.btn a:link,
.btn a:visited {
  text-decoration: none;
  color: #fdf2e9;
  transition: all 0.3s;
  font-size: 1.8rem;
  font-weight: 600;
}
.btn:hover,
.btn:active {
  background-color: #cf711f;
  /* box-shadow: inset 0 0 0 3px #e67e22; */
}
.btn:hover a,
.btn:active a {
  /* color: #e67e22; */
}

.customers {
  display: flex;

  align-items: center;
}
.customers img {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f8d8bd;
}
.customers img:not(:first-child) {
  margin-left: -1.5rem;
}
.customer-plus {
  flex-shrink: 0;
  display: inline-block;
  background-color: #fae5d3;
  color: #5c320e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  box-shadow: 0 0 0 2px #fdf2e9;
  margin-right: 1.2rem;
}
.customer-text {
  font-size: 1.6rem;
  font-weight: 500;
}
.customer-text strong {
  color: #e67e22;
  font-weight: 600;
}

/*--------- section-hero */
.section-featured-company {
  padding: 3.2rem 0;
}
.feature-company-box {
  max-width: 130rem;
  margin: 0 auto;
}
.featured-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
}
.featured-company-img-box {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  justify-content: space-between;
}
.featured-company-img-box img {
  display: inline-block;
  height: 3.2rem;
  filter: brightness(-50%);
  opacity: 0.5;
}

/*--------- section-step */
.section-step {
  padding: 9.6rem 0;
}
.step-box {
  align-items: center;
}
.step-box img {
  width: 40%;

  justify-self: center;
}
.step {
  padding: 0 2.4rem;
}
.step-img-box {
  display: flex;
  justify-content: center;
  position: relative;
}
.step-img-box::before {
  content: "";
  display: inline-block;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: #f8d8bd;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -2;
  transform: translate(50%, -50%);
}
.step-img-box::after {
  content: "";
  display: inline-block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -3;
  transform: translate(50%, -50%);
  box-shadow: 0 0 40px 3px #cf711f83;
}
.step-subheading {
  color: #777;
  font-size: 8.6rem;
  font-weight: 600;
}
.step-heading {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
.step-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #555;
}

/*--------- section-meals */
.section-meals {
  padding: 9.6rem 0;
  text-align: center;
}
.meal {
  background-color: rgb(255, 255, 255);
  border-radius: 11px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
  translate: all 0.3s;
}
.meal:hover {
  transform: translate(0, -10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
}
.meal img {
  width: 100%;
  margin-bottom: 2.4rem;
}
.meal-name {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}
.meal-text {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meal-type {
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(37, 182, 37);
  color: #fdf2e9;
  margin-bottom: 1.2rem;
}
.vegan {
  background-color: green;
  margin-right: 1.2rem;
}
.paleo {
  background-color: rgb(131, 131, 0);
}
.meal-description {
  list-style: none;
  font-size: 1.8rem;
}
.meal-description li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
}
.meal-description li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.meal-description ion-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
  color: #cf711f;
}
.diet {
  text-align: left;
  padding: 1.2rem;
}
.diet-heading {
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
}
.diet-box {
  list-style: none;
}

.diet-box ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
.diet-box li {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.diet-box li:not(:last-child) {
  margin-bottom: 2.4rem;
}
